.mainheader-container{
    width: 73vw;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: white; 
    
}

.header-input-container{
    background-color: rgb(237, 240, 248);
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 15vw;
    height: 4vh;
    margin-left: 200px;
}

.header-input{
    border: none;
    background-color:rgb(237, 240, 248);  
    width: 10vw;
    color: rgb(179, 174, 174);           
}

.header-input::placeholder{    
    color: rgb(179, 174, 174);           
}

.header-button{
    background-color: rgb(29, 123, 247);
    color: white;
    width: 4vw;
    height: 4.5vh;
    border: none;
    border-radius: 10px;
}

.header-notification  {
    margin-left: -2.5vw;
    margin-top: -10px;
}

.header-message{
    margin-left: -4vw;
}

.header-arrow {
    margin-left: -2vw;
}

.header-notificacion-dot{
    background-color: rgb(75, 120, 245);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: relative;
    top: 20px;
    left: -35px;
}

#search-icon{
    color: rgb(179, 174, 174);
    font-size: 18px;
}